@import "variables";

html, body {
  height: 100%;
}

body {
  color: $main-font-color;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

input, button {
  padding: 10px 20px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  font-weight: bold;
  transition: opacity .1s ease-in-out;
  opacity: 0.8;
  min-width: 90px;
  &:not([disabled]) {
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

input {
  max-width:250px;
}

label {
  color: #777;
  font-size: 14px;
}

.input-group {
  padding-top: $padding-default;
  height: 60px;
  label {
    display: block;
  }
  p {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.validation-error {
  margin-top: 4px;
  font-size: 13px;
  color: $color-danger;
}
